$colorButton: #669609;
$colorUnderline: #0e9dc4;
$colorFontMainHeaders: #212430;
$colorFontContent: #c3c6d1;
$colorImgAndFooter: #161823;
$colorFooterText: #c3c6d1;
$colorBody: #fff;
$colorGradient1: #60901d;
$colorGradient2: #4a796f;
$colorGradient3: #2d5bda;
$fontHeaderAndButton: "Source Sans Pro", sans-serif;
$fontLogoAndText: "Hind", sans-serif;
$backImage: "../img/m-h-day.jpg";


