$colorButton: #e3ac13;
$colorUnderline: #ff4e33;
$colorFontMainHeaders: #fff;
$colorFontContent: #c3c6d1;
$colorImgAndFooter: #2f3343;
$colorBody: #161823;
$colorFooterText: #d5d5d5;
$colorGradient1: #e1a813;
$colorGradient2: #b1612b;
$colorGradient3: #8e2e48;
$fontHeaderAndButton: "Source Sans Pro", sans-serif;
$fontLogoAndText: "Fresca", sans-serif;
$backImage: "../img/m-h-night.jpg";

